<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> --}}
    <script src="index.js"></script>
</head>
<body>
    <ul>
  {{#each burgers}}
    {{#unless devoured}}
    <li>
      <p>{{this.id}}. {{this.burger_name}}</p><button data-id="{{this.id}}" class="devour">Devour</button>
    </li>
      {{!-- {{> cats/cat-block sleep=true}} --}}
    {{/unless}}
  {{/each}}
</ul>
<h2>Add a burger</h2>

<form class="createForm">
  <div class="formGroup">
    <label for="burgerName">Burger Name: </label>
    <input type="text" name="name" id="burg">
  </div>
  <button type="submit">Add Burger</button>
</form>

</body>
</html>  